*.DS_Store
.gradle
/out
./out
out/
/build/
/classes
!gradle/wrapper/gradle-wrapper.ja


###Intellij###
.idea/libraries
.idea/markdown*
.idea/kotlinc.xml
.idea/workspace.xml
.idea/uiDesigner.xml

target/
